* {
    font-family: Cantarell, sans-serif !important;
}

.rcx-icon {
    font-family: RocketChat !important;
}

body {
  background-color: #f4f4f3;
}

aside.sidebar, aside.sidebar .rooms-list__toolbar-search {
  background-color: #f4f4f3;
  border-right: 1px solid #b6b6b3;
}

aside.sidebar .toolbar {
  background-color: #f4f4f3;
  padding-right: 20px;
  width: 280px;
}

aside.sidebar .toolbar input {
  background-color: #FFF;
  color: #000;
  border: 1px solid #b6b6b3;
}

aside.sidebar, aside.sidebar * {
  color: #555;
}

aside.sidebar .rooms-list {
  top: 3px;
  margin-bottom: 3px;
}

div.fixed-title.announcement {
  background-color: #555;
}

.rc-header {
  box-shadow: none;
  border-bottom: 1px solid #b6b6b3;
}

.rc-header__topic a, .message-body-wrapper .body a[target='_blank'] {
  color: #2a76c6;
  text-decoration: underline;
}

.rc-header__topic a:hover, .rc-header__topic a:focus,
.message-body-wrapper .body a[target='_blank']:hover,
.message-body-wrapper .body a[target='_blank']:focus {
  color: #205a97;
  text-decoration: underline;
}

.rc-old .announcement {
  height: 35px;
}

.rc-old .announcement p {
  font-size: 1rem;
}

.rc-popover__content {
  border: 1px solid #b6b6b3;
  border-radius: 0;
  padding: 2px 0;
  min-width: 200px;
  box-shadow: 0 0 2px 0 rgba(47,52,61,.08), 0 0 6px 0 rgba(47,52,61,.12);
}

.rc-message-box {
  padding: 24px 12px;
}

.rc-message-box__container {
  border: 1px solid #b6b6b3;
  border-radius: 0;
}

.rc-popover__item {
  padding: .4rem 2rem .4rem .5rem;
  transition: none;
}

.rc-popover__item:hover, .rc-popover__item:focus {
  background-color: #4a90d9;
  border-radius: 0;
  color: #FFF;
}

.rc-popover--sidebar-header .rc-popover__item:not(.js-action) {
  color: #92918c;
}

.rc-popover--sidebar-header .rc-popover__item:not(.js-action):hover,
.rc-popover--sidebar-header .rc-popover__item:not(.js-action):focus {
  color: #92918c;
  background-color: transparent;
}

.rc-popover__title {
  padding: .4rem 2rem .4rem 2rem;
  margin: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 1em;
  font-style: italic;
  color: #b6b6b3;
  display: none;
}

.rc-popover__divider {
  margin: 0;
  height: 1px;
}


.message > q.thread-quote * {
  font-size: 12px !important;
}

.message > q.thread-quote {
  margin-top: 3px;
  margin-bottom: 0;
}

.message > q.thread-quote svg {
  width: 14px !important;
  height: 14px !important;
}

.message .thread-icons--thread {
  left: 48px;
}

li.sidebar-item.sidebar-item--active, li.sidebar-item.sidebar-item--active:hover {
  background-color: #4a90d9;
}

li.sidebar-item.sidebar-item--active a * {
  color: #FFF !important;
}

li.sidebar-item {
  border-radius: 0;
}

li.sidebar-item:hover {
  background-color: #ebebea;
}

footer.sidebar__footer, div.emoji-footer {
  display: none !important;
}


pre, code {
  font-family: monospace !important;
}

aside.sidebar .badge {
  color: #FFF;
  background-color: #4a90d9;
}

li.sidebar-item.sidebar-item--active .badge {
  background-color: #FFF;
  color: #4a90d9 !important;
}

.message ul.reactions > li {
  border-radius: 3px;
  background-color: #4a90d911 !important;
  border: 1px solid transparent !important;
  color: #4a90d9 !important;
  padding-top: 0px;
}

.message ul.reactions > li:hover {
  border-color: #4a90d933 !important;
}

.message a.mention-link {
  color: #666;
  background-color: #6661;
  transition: opacity .15s, background-color .15s, color .15s;
}

.attachment a,
.attachment .collapse-switch {
  color: #4a90d9;
  opacity: 1;
  font-size: 1rem;
}

.attachment a:hover {
  color: #4a90d9;
  text-decoration: underline;
}

.messages-box .new-message, .message .rc-button {
  background-color: #4a90d9;
}

aside.sidebar button[aria-label='Toggle Dark Mode'] {
  display: none;
}

aside.sidebar .sidebar__toolbar {
  margin-left: 2rem;
}

aside.sidebar .rooms-list__type {
  font-weight: normal;
  padding-bottom: 5px;
  color: #555;
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

aside.sidebar .rooms-list__type, aside.sidebar .rooms-list__type * {
  color: #555;
}


aside.sidebar .rooms-list__list .sidebar-item__popup-active {
  background-color: #4a90d9;
}

aside.sidebar .rooms-list__list .sidebar-item__popup-active * {
  color: #FFF;
}


.rc-old .container-bars {
  box-shadow: none;
  right: 0;
  left: 0;
  top: 0;
  border-bottom: 1px solid #fff692;
}

.rc-old .container-bars .background-component-color {
  background-color: #fffbcc;  
}

.container-bars * {
  text-transform: lowercase;
  color: #555;
}

.container-bars button:hover, .container-bars button:focus {
  text-decoration: underline;
}
